body {
    font-family: "Nunito", sans-serif;
  }
  .features-section {
    .card {
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-10px);
      }
      &-body {
        &:hover {
          background-color: #0d6efd !important;
          * {
            color: white !important;
          }
          .feature-icon {
            background-color: white !important;
            i {
              color: #0d6efd !important;
            }
          }
        }
      }
    }
  }
  .about-us {
    li {
      background: none;
      border: none;
    }
  }
  .our-team {
    &-img {
      &:hover {
        img {
          transform: scale(1.2);
        }
        div {
          display: block !important;
        }
      }
    }
  }
  .testimonials {
    .testimonial {
      max-width: 800px;
      img {
        width: 100px;
      }
    }
  }
  .contact-us {
    background: url("../img/hero_1.jpg");
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.7;
      background: linear-gradient(to right, #4286f4 0%, #42e2f4 100%);
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px !important;
    }
  }
  @media (min-width: 992px) {
    .main {
      &-header {
        img {
          max-width: none;
          margin: 40px 0 0 -50px;
        }
      }
    }
  }
  